set nu
set relativenumber

set tabstop=4
set softtabstop=4
set shiftwidth=4
set expandtab

set smartindent

set nowrap

set splitright
set splitbelow

set scrolloff=8

let lazypath = stdpath('data') . '/lazy/lazy.nvim'
if !filereadable(lazypath)
  call system('git clone --filter=blob:none https://github.com/folke/lazy.nvim.git --branch=stable ' . lazypath)
endif
execute 'set rtp+=' . lazypath

let plugins = [
      \ ['Mofiqul/dracula.nvim'],
      \ ['nvim-tree/nvim-web-devicons'],
      \ ["catppuccin/nvim", {'name': 'catppuccin', 'priority': 1000}],
      \ ['nvim-telescope/telescope.nvim', {'tag': '0.1.5', 'dependencies': ['nvim-lua/plenary.nvim']}],
      \ ['ThePrimeagen/vim-be-good'],
      \ ['nvim-treesitter/nvim-treesitter', {'build': ':TSUpdate'}],
      \ ['tpope/vim-fugitive'],
      \ ['nvim-lualine/lualine.nvim'],
      \ ['williamboman/mason.nvim'],
      \ ['williamboman/mason-lspconfig.nvim'],
      \ ['VonHeikemen/lsp-zero.nvim', {'branch': 'v3.x'}],
      \ ['neovim/nvim-lspconfig'],
      \ ['hrsh7th/cmp-nvim-lsp'],
      \ ['hrsh7th/nvim-cmp'],
      \ ['L3MON4D3/LuaSnip'],
      \ ['ThePrimeagen/harpoon'],
      \ ['akinsho/toggleterm.nvim', {'version': '*', 'config': v:true}],
      \ ['numToStr/Comment.nvim', {'lazy': v:false}],
      \ ['JoosepAlviste/nvim-ts-context-commentstring'],
      \ ['stevearc/oil.nvim'],
      \ ['kylechui/nvim-surround'],
      \ ['folke/trouble.nvim'],
      \ ['untitled-ai/jupyter_ascending.vim'],
      \ ['github/copilot.vim']
      \ ]
call lazy#setup(plugins)

let g:mapleader = " "

" Moving selected line vertically
xnoremap J :m '>+1<CR>gv=gv
xnoremap K :m '<-2<CR>gv=gv
xnoremap D y`>o<Esc>p`[v`]
xnoremap U y`>O<Esc>p`[v`]

" Centering on immediate movement (credit: Primeagen as usual)
nnoremap <C-d> <C-d>zz
nnoremap <C-u> <C-u>zz
nnoremap G Gzz
nnoremap gg ggzz
nnoremap n nzzzv
nnoremap N Nzzzv

" Copy-paste with system buffer
vnoremap <leader>d "+d
vnoremap <leader>y "+y
nnoremap <leader>p "+p

" Navigating split windows
nnoremap <C-h> <C-w>h
nnoremap <C-j> <C-w>j
nnoremap <C-k> <C-w>k
nnoremap <C-l> <C-w>l

" Format and selection
nnoremap <C-f> ma | :%s/\s\+$//e<CR>ggVG= | :noh<CR> | `a
nnoremap <C-a> gg0VG
vnoremap > >gv
vnoremap < <gv

" Insert mode stuffs
inoremap <C-z> <esc>ui

" Clear selection
vnoremap : :
vnoremap <C-r> :s/

" comments
lua << EOF
require('Comment').setup{
    toggler = {
        "Line-comment toggle keymap
        line = 'gcc',
        "Block-comment toggle keymap
        block = 'gbc',
    },
    "LHS of operator-pending mappings in NORMAL and VISUAL mode
    opleader = {
        "Line-comment keymap
        line = 'gc',
        "Block-comment keymap
        block = 'gb',
    },
}
EOF

" surround
lua require("nvim-surround").setup()